block variables

doctype html
html(lang=pubLocals.lang)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1.0)
    meta(name='google', content='notranslate')
    - var address = pubLocals.gatewayAddress + pubLocals.faviconAddress
    link(rel='icon', type='image/x-icon', href=address)
    title= title
    each css in pubLocals.files.css
      - var address = pubLocals.gatewayAddress + css
      link(rel='stylesheet', href=address)
  body(id=auit)
    include ../includes/header
    main
      block content
    include ../includes/footer
    each js in pubLocals.files.js
      - var address = pubLocals.gatewayAddress + js
      script(src=address)
