input(type='hidden', name='pushStateUrl', value=pushStateUrl)
h1 Vielen Dank, #{participantName}!
p Deine Stimme wurde gezählt!

h2= surveyName
div !{surveyInfo}

h2 Deine Antworten
div
  each result in results
    div= result.question
    div= result.answer
