.vote-block
  input(type='hidden', name='pushStateUrl', value=pushStateUrl)
  h1 Vielen Dank, #{participantName}!
  p Deine Stimme wurde für #{surveyName} gezählt!
.vote-block
  h2 Deine Antworten
  .result-grid
    each result in results
      div= result.question
      div= result.answer
.vote-block !{surveyInfo}
