.container
  input(type='hidden', name='pushStateUrl', value=pushStateUrl)
  h1 Vielen Dank, #{participantName}!
  p
    | Deine Stimme wurde f체r #{surveyName} gez채hlt!
    | Die zahllosen Helfer haben bereits mit der Ausz채hlung begonnen.
    | Das Ergebnis wird in K체rze feststehen und Dir per Email zugeschickt werden.
  h1 Deine Antworten
  #result-grid.grid-2
    each result in results
      div= result.question
      div= result.answer
  div !{surveyInfo}
